.h_confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top:0;
    background:rgba(0,0,0,.6);
}
.h_confirm .contain{
    position: fixed;
    width: 450px;
    height: 300px;
    left: 50%;
    top:50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 11;
    background:#fff;
}

.h_confirm .contain .tit{
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #c1c1c1;
}

.h_confirm .contain .content{
    height: 210px;
    border-bottom: 1px solid #c1c1c1;
}
.h_confirm .contain .foot{
    text-align:right;
}