.h_confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top:0;
    background:rgba(0,0,0,.6);
}
.h_confirm .contain{
    position: fixed;
    width: 450px;
    height: 300px;
    left: 50%;
    top:50%;
    margin-left: -200px;
    margin-top: -150px;
    z-index: 11;
    background:#fff;
}

.h_confirm .contain .tit{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #c1c1c1;
}
.tit_close{
    position: absolute;
    top:50%;
    margin-top: -9px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("./custom-icon.png") no-repeat 0 -95px;
    cursor: pointer;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.tit_close:hover{
    -ms-transform:rotate(360deg) scale(1.2);
    transform:rotate(360deg) scale(1.2);
}
.h_confirm .contain .content{
    height: 210px;
    border-bottom: 1px solid #c1c1c1;
}
.h_confirm .contain .foot{
    text-align:right;
    height: 31px;
    line-height: 31px;
    padding: 5px 10px;
}
.prop_confirm_btn,.prop_confirm_close{
    margin-right: 5px;
    padding:7px 20px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}
.prop_confirm_btn{
    background: deepskyblue;
}
.prop_confirm_btn:hover{
    opacity: 0.8;
}
.prop_confirm_close{
    background: red;
}
.prop_confirm_close:hover{
    opacity: 0.8;
}